.menu button {
  padding: 15px 15px;
  border-radius: 0;
  font-weight: 600;
  
  &.selected {
    background-color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-7));
    color: #FFF;
    font-weight: 700;
  }
  
  &:not(.selected):hover {
    border-left: 5px solid light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-7));
  }
}

