.menu button, .menu a {
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-6));

  &.selected {
    background-color: var(--mantine-primary-color-filled);
    color: #FFF;
    font-weight: 700;
  }

  &:not(.selected):hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
  }
}