.menu button {
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 600;
  
  &:hover, &.selected {
    background-color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-6));
    color: #FFF;
    font-weight: 700;
  }
}

