.menu button {
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 600;
  
  &:hover {
    background-color: light-dark(var(--mantine-color-provify-light-blue-9), var(--mantine-color-dark-5));
    color: #FFF;
    font-weight: 700;
  }
}
