.header, .main, .footer {
  background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-8));
}

.navbar {
  background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-9));
  /* background-color: light-dark(var(--mantine-color-provify-blue-9), var(--mantine-color-dark-9));
  color: var(--mantine-color-gray-1); */
}